<div class="row">
  <div class="col-md-10">
    <a href="https://librarycarpentry.github.io/lc-python-intro" target="_blank"><h3>Day 1 - Introduction to Python</h3></a>
    <table class="table table-striped">
      <tr> <td>Before starting</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td> </tr>
      <tr> <td>9:30</td> <td><a href="https://librarycarpentry.github.io/lc-python-intro/instructor/getting-started" target="_blank">Getting Started</a>, <a href="https://librarycarpentry.github.io/lc-python-intro/instructor/variables" target="_blank">Variables and Types</a>, and <a href="https://librarycarpentry.github.io/lc-python-intro/instructor/lists" target="_blank">Lists</a></td> </tr>
      <tr> <td>10:45</td> <td>Morning break</td> </tr>
      <tr> <td>11:00</td> <td><a href="https://librarycarpentry.github.io/lc-python-intro/instructor/functions" target="_blank">Built-in Functions and Help</a>, <a href="https://librarycarpentry.github.io/lc-python-intro/instructor/libraries" target="_blank">Libraries & Pandas</a>, and <a href="https://librarycarpentry.github.io/lc-python-intro/instructor/for-loops" target="_blank">For Loops</a></td> </tr>      
      <tr> <td>12:30</td> <td>Lunch break</td> </tr>
      <tr> <td>13:00</td> <td><a href="https://librarycarpentry.github.io/lc-python-intro/instructor/looping-data-sets" target="_blank">Looping Over Data Sets</a>, <a href="https://librarycarpentry.github.io/lc-python-intro/instructor/pandas" target="_blank">Using Pandas</a>, and <a href="https://librarycarpentry.github.io/lc-python-intro/instructor/conditionals" target="_blank">Conditionals</a></td> </tr>      
      <tr> <td>14:15</td> <td>Afternoon break</td> </tr>
      <tr> <td>14:30</td> <td><a href="https://librarycarpentry.github.io/lc-python-intro/instructor/tidy" target="_blank">Tidy Data with Pandas</a>, and <a href="https://librarycarpentry.github.io/lc-python-intro/instructor/data-visualisation">Data Visualisation</a></td> </tr>      
      <tr> <td>16:30</td>  <td><a href="https://librarycarpentry.github.io/lc-python-intro/instructor/wrap" target="_blank">Wrap-Up</a></td> </tr>       
      <tr> <td>16:45</td> <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td> </tr>
    </table>
  </div>
</div>
